Repository Subinvar/intema-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix"],
  "*.{md,css,json}": ["prettier --write"]
}

docs(readme): правка N (#16)
  README.md
Due: prettier --write

feat: правка 2
  README.md
Due: prettier --write

Feat/smysl pr (#17)
  README.md
Due: prettier --write

feat(i18n): RU/EN for Payload + next-intl routing + localized sitemap
  eslint.config.mjs
  middleware.ts
  next-sitemap.config.cjs
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/(sitemaps)/pages-sitemap.xml/route.ts
  src/app/(frontend)/(sitemaps)/posts-sitemap.xml/route.ts
  src/app/(frontend)/layout.tsx
  src/app/[locale]/(frontend)/[slug]/page.client.tsx
  src/app/[locale]/(frontend)/[slug]/page.tsx
  src/app/[locale]/(frontend)/globals.css
  src/app/[locale]/(frontend)/layout.tsx
  src/app/[locale]/(frontend)/next/exit-preview/route.ts
  src/app/[locale]/(frontend)/next/preview/route.ts
  src/app/[locale]/(frontend)/next/seed/route.ts
  src/app/[locale]/(frontend)/not-found.tsx
  src/app/[locale]/(frontend)/page.tsx
  src/app/[locale]/(frontend)/posts/[slug]/page.client.tsx
  src/app/[locale]/(frontend)/posts/[slug]/page.tsx
  src/app/[locale]/(frontend)/posts/page.client.tsx
  src/app/[locale]/(frontend)/posts/page.tsx
  src/app/[locale]/(frontend)/posts/page/[pageNumber]/page.client.tsx
  src/app/[locale]/(frontend)/posts/page/[pageNumber]/page.tsx
  src/app/[locale]/(frontend)/search/page.client.tsx
  src/app/[locale]/(frontend)/search/page.tsx
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/LocaleSwitcher.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/payload-types.ts
  src/payload.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(i18n): RU/EN for Payload + next-intl routing + localized sitemap (#18)
  eslint.config.mjs
  middleware.ts
  next-sitemap.config.cjs
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/(frontend)/(sitemaps)/pages-sitemap.xml/route.ts
  src/app/(frontend)/(sitemaps)/posts-sitemap.xml/route.ts
  src/app/(frontend)/layout.tsx
  src/app/[locale]/(frontend)/[slug]/page.client.tsx
  src/app/[locale]/(frontend)/[slug]/page.tsx
  src/app/[locale]/(frontend)/globals.css
  src/app/[locale]/(frontend)/layout.tsx
  src/app/[locale]/(frontend)/next/exit-preview/route.ts
  src/app/[locale]/(frontend)/next/preview/route.ts
  src/app/[locale]/(frontend)/next/seed/route.ts
  src/app/[locale]/(frontend)/not-found.tsx
  src/app/[locale]/(frontend)/page.tsx
  src/app/[locale]/(frontend)/posts/[slug]/page.client.tsx
  src/app/[locale]/(frontend)/posts/[slug]/page.tsx
  src/app/[locale]/(frontend)/posts/page.client.tsx
  src/app/[locale]/(frontend)/posts/page.tsx
  src/app/[locale]/(frontend)/posts/page/[pageNumber]/page.client.tsx
  src/app/[locale]/(frontend)/posts/page/[pageNumber]/page.tsx
  src/app/[locale]/(frontend)/search/page.client.tsx
  src/app/[locale]/(frontend)/search/page.tsx
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/LocaleSwitcher.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/payload-types.ts
  src/payload.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(i18n): RU/EN for Payload + next-intl routing + localized sitemap 2
  src/app/[locale]/layout.tsx
  src/i18n/request.ts
  src/messages/en.json
  src/messages/ru.json
Due: eslint --fix, prettier --write

ci: remove workflows
  .github/workflows/ci.yml
Due: none

Обновление
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Обновление
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --write

Обновление
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  vitest.config.mts
Due: eslint --fix, prettier --write

Обновление
  src/app/sitemap.ts
  src/endpoints/seed/index.ts
Due: eslint --fix

Обновление
  .env
  .gitignore
Due: none
